<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>Use this site to get the weather forecast of an address.</p>

    <form id="weather-form" action="">
        <input id="search-input" type="text" placeholder="Location" required>
        <button type="submit">Search</button>
    </form>

    <p id="message-one"></p>
    <p id="message-two"></p>
</div>
{{>footer}}
<script src="/js/main.js"></script>
</body>
</html>